.underline-animation {
	background: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)),
		linear-gradient(45deg, #72abff, #cf69ff);
	background-size: 100% 0.1em, 0 0.1em;
	background-position: 100% 100%, 0 100%;
	background-repeat: no-repeat;
	font-weight: normal;
	text-decoration: none;
	padding-bottom: 0.1em;
	transition: background-size 500ms ease, color 500ms ease;
}

.underline-animation:hover,
.underline-animation:focus {
	background-size: 0 0.1em, 100% 0.1em;
}

.underline-animation:visited,
.underline-animation:active {
	text-decoration: none;
	color: white;
}
